.face {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -300px;
     left: -300px;
    transition: All 1s ease;
}
body{
    background-color: gray;
}
#main{

    width:60%;
    background-color: white;
    margin: 20% auto;
}
h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 10px;
}
ul li {
    list-style-type: none;
    font-size: 20px;
}
#info{
    display: inline-flex;
}
#hobby{
    margin-left: 35px;
    border-bottom: 1px solid black;
}
.off{
    display: none;
}
.delete{
    display: block;
}