@font-face {
    font-family: 'Alg';
    src: url('fonts/ALGER.TTF');
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Tek';
    src: url('fonts/TektonPro-Bold.otf');
}



* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url('../../images/reznichenko/background.jpg') ;
}

.mainwraper {
    /*background-color: white;
    opacity: 0.8;*/
    background: rgba(255,255,255,0.8);
    margin: 10px auto;
    width: 95%;
    padding: 10px;
}



#infowrapper {
    display: flex;
    /*justify-content: space-around;*/
}

#name{
    font-family: 'Alg';
    font-size: 60px;
}
#birthday {
    font-family: 'Lato';
    font-size: 20px;
}

#hobbielist {
    font-size: 30px;
    font-family: "Bookman Old Style";
}


#avatarWraper {
    width: 400px;
    height: 400px;
    margin-right: 10px;
}

#avatarImg{
    max-height: 100%;
    max-width: 100%;
}

#todowrapper, #newswrapper
{
    display: none;
}

#newsheader:hover, #todoheader:hover{
    background: rgba(255,255,255,0.9);
}

#todolist {
    margin-top: 20px;
}

b,p,a{
    font-size: 30px;
    font-family: "Tek";
}

h2 > *,h2{
    font-size: 50px !important;
    font-family: "Tek";
}

.newselement {
    padding: 10px 15px;
}

.todoelement {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.todoelement:hover, .newselement:hover {
    background: rgba(255,255,255,0.5);
    transition: all 0.1s;
}

input[type="search"] {
    border: 1px solid #999;
    border-radius: 10px;
    width: 300px;
    border-radius: 20px 0px 0px 20px;
    height: 56px;
    outline: 0;
    font-size: 18px;
    color: #000000;
    float: left;
    padding-left: 25px;
}

input[type="submit"] {
    border: none;
    height: 56px;
    width: 141px;
    background-color: #777777;
    border-radius: 0px 20px 20px 0px;
    outline: 0;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

.closebutton {
    cursor: pointer;
    user-select: none;
}

