
body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}

main {
    max-width: 960px;
    background-color: #ddd;
    margin: 25px auto;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 20px #000;
}

.logo p {
    margin: 0;
}

.header-page {
    height: 50px;
    background-color: #DFE2DB;
}

.logo {
    font-family: Roboto;
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}

.img-wrapper {
    width: 50%;
    max-width: 460px;
}

.img-wrapper img {
    max-width: 460px;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}

.about {
    
}

.news {
    padding-left: 50px;
    font-family:  Roboto;
    font-size: 16px;
    
}

.news h2 {
    font-size: 24px;
    color: #aaa;
}
