body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/kartinkijane.ru-15056.jpg);
}

.account{
    width: 60%;
    margin: 20px auto;
    display: flex;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 14px 1px #888888;
    background-image: url(../img/13940874.jpg);
}

/* Avatar */
.account__avatar-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.account__avatar{    
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 0;
}

/* User info */
.account__user-info-container{
    width: 50%;
}

.user-info>ul{
    list-style-type: none;
    padding: 0
}

.user-info>ul>li:not(:first-child){
    margin-bottom: 20px
}

.news-item:not(:last-child){
    padding-bottom: 5px;
    border-bottom: 2px solid grey
}

.news-item:last-child{
    padding-bottom: 20px;
}

#user-status{
    margin-top: -4px;
    color: #9B9B9B;
    font-size: 12px
}

.input-data-styles{
    font-size: 18px;
}

a{
    color: #4f7295
}

#todolist{
	list-style-type: square;
	padding-left: 16px;
}

#todolist li{
	cursor: pointer
}