.zet{
    text-align: center;
}
.img {
	border: 3px black;
}
.wrapper{
margin: 0 auto;
max-width: 1000px;
width: 100%;
background: rgba(0, 170, 238, 0.3);

}

p{
	font-size:40px;
	color: white;
}
body{
	background-image: url(image/images.jpg) ;
    background-size: cover;
}

b,p,a{
    font-size: 30px;
    font-family: "Tekton Pro";
}

h2 > *,h2{
    font-size: 50px !important;
    font-family: "Tekton Pro";
}

.newselement
{
    margin-top: 10px;
}

}
.mainwraper
{
    background-color: white;
    opacity: 0.8;
    margin: 10px auto;
    width: 95%;
    padding: 10px;
}
