body {
	padding: 0;
	margin: 0 auto;
	background: #2d2d2d;
	color: #f2f2f2;
	font-family: sans-serif;
    height: 1500px;
}

.container {
	background: #222222;
	border: 10px solid #2d2d2d;
	border-radius: 50px;
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}

.todo {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
    padding: 0;
}

.myinfo {
	background: #222222;
	border: 10px solid #2d2d2d;
	border-radius: 50px;
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}

.mynews {
	background: #222222;
	border: 10px solid #2d2d2d;
	border-radius: 50px;
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}


.form {
    padding: 0 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

img {
	max-width: 500px;
	max-height: 500px;
	height: 100%;
	width: 100%;
}

.info {
    text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 30px;
	text-align: center;
}

.myinfo:hover
{
    transition:all 0.3s ease;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    border: 10px solid #FFC000;
}

.info h3 {
	padding: 0 4px 0 4px;
	border: 5px solid #f2f2f2;
	border-radius: 10px;
	font-size: 40px;
	color: #FFC000;
}

.info h3:hover
{
    transition:all 0.3s ease;
    background:#FFC000;
    color: #2f2f2f;
    border: 5px solid #222222;
}

.info i {
    text-transform: uppercase;
	color: #FFC000;
}

.news {
    padding: 0 15px;
}

.news:hover {
    transition:all 0.3s ease;
    padding: 15px 5px 25px 5px;
}

.news h4 {
    color: #FFC000;
    padding: 0 15px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.news h4:hover {
    transition:all 0.3s ease;
    color: #f2f2f2;
}

.news p {
    padding: 0 15px;
    font-size: 24px;
    text-align: center;
}

.news p:hover {
    transition:all 0.3s ease;
    color: #FFC000;
}

.news a {
    opacity:0.7;
    color: #f2f2f2;
    text-decoration: none;
    padding: 0 15px;
    text-align: left;
    font-size: 24px;
}

.news a:hover {
    transition:all 0.3s ease;
    opacity: 1;
    color: #FFC000;
    text-align: left;
    font-size: 24px;
}

.cont {
    font-size: 50px;
    padding: 0;
    margin: 0 auto;
    background: none;
    color: #f2f2f2;
    text-transform: uppercase;
    outline: none;
    width: 1080px;
    border: none;
}

.cont:hover {
    transition:all 0.3s ease;
    background:#FFC000;
    color: #2f2f2f;
    border-radius: 50px;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.container:hover
{
    transition:all 0.3s ease;
    box-shadow: inset 0 0 0 15px #FFC000;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #2d2d2d;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li {
    background: #222222;
    color: #FFC000;
    box-shadow: inset 0 2px 0 0 #2d2d2d;
}

ul li:hover {
    background: #FFC000;
    color: #2f2f2f;
    transition:all 0.3s ease;
     -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: none;
}

ul li.checked {
    background: #FFC000;
    color: #2f2f2f;
    text-decoration: line-through;
    opacity: 0.7;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #222222;
    padding: 30px 40px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.header:hover {
    transition:all 0.3s ease;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: #FFC000;
    color: #2f2f2f;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: none;
    outline: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #2f2f2f;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
    color: #f2f2f2;
}
